* {
    box-sizing: border-box;
}

:root {
    --primary-clr: #025464;
    --secondary-clr: #111422;
    --tertiary-clr: #757b80;
    --quaternary-clr: #a7abb0;
    --bg-clr: #F8F1F1;
    --sec-clr: #E57C23;
    --ter-clr: #E8AA42;
}

.user-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-slidebar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.custom-slidebar::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.custom-slidebar::-webkit-scrollbar-thumb {
    background: #c8c8c8; 
}

.custom-slidebar::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3; 
}

.custom-slidebar-thin::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}