* {
    box-sizing: border-box;
}

:root {
    --primary-clr: #025464;
    --secondary-clr: #111422;
    --tertiary-clr: #757b80;
    --quaternary-clr: #a7abb0;
    --bg-clr: #F8F1F1;
    --sec-clr: #E57C23;
    --ter-clr: #E8AA42;
}

.user-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}