<%- include('header') %>
<link rel="stylesheet" href="/css/home/book_appointment.css">
<main>
    <section id="banner">
        <h1>Book an appointment on a convenient day.</h1>
        <div class="search-bar">
            <input type="text" id="name" autocomplete="off">
            <input type="date" id="date">
            <button>Search</button>
        </div>
    </section>
</main>
<script>
    function onLoad() {
        document.querySelector("nav a.item:nth-of-type(1)").classList += " active";
    }
</script>
<%- include('footer') %>