<link rel="stylesheet" href="/css/home/inner_header.css">
<div class="inner-header user-flex-center">
    <a href="<%= href %>">
        <i class="bi bi-arrow-left"></i>
    </a>
    <span class="d-block"><%= content %></span>
</div>
