<%- include('header') %>
<link rel="stylesheet" href="/css/home/my_organizations.css">
<main>
    <div class="search-area">
        <h1>My Organizations</h1>
        <div class="field-box">
            <i class="bi bi-search"></i>
            <input type="text" placeholder="Search in your organizations..">
        </div>
    </div>
    <div class="results">

    </div>
</main>
<script>
    function onLoad() {
        document.querySelector("nav a.item:nth-of-type(2)").classList += " active";
    }
</script>
<%- include('footer') %>