<%- include('header') %>
<link rel="stylesheet" href="/css/home/single_org.css">
<script src="/js/home/single_org.js"></script>
<main>
    <%- include('inner_header', {content: "/ My Organizations / " + org_name, href: "/home/my-organizations/"}) %>
    
    <section id="weekly_schedule">
        <h1>Weekly Schedule</h1>
        <div class="table-container mt-4">
            <div class="top-row">
                <i class="bi bi-caret-left left"></i>
                <div class="box user-flex-center"></div>
                <i class="bi bi-caret-right right"></i>
                <a href="#">Edit</a>
            </div>
            <div class="table">
                <div class="row top">
                    <span>From Time</span>
                    <span>To Time</span>
                    <span>Price</span>
                    <span>Slots</span>
                </div>
            </div>
        </div>
    </section>
</main>
<script>

    var weeklyScheduleData = <%- JSON.stringify(weeklySchedule) %>;

    document.onload = () => {
        onLoad();
    }
    
</script>
<%- include('footer') %>