<%- include('header') %>
<link rel="stylesheet" href="/css/home/my_organizations.css">
<main>
    <%- include('inner_header', {content: "/ My Organizations / " + org_name, href: "/home/my-organizations/"}) %>
    
</main>
<script>

    function onLoad() {
        document.querySelector("nav a.item:nth-of-type(2)").classList += " active";
    }
    
</script>
<%- include('footer') %>