<%- include('header') %>
<link rel="stylesheet" href="/css/home/single_org.css">
<script src="/js/home/single_org.js"></script>
<main>
    <%- include('inner_header', {content: "/ My Organizations / " + org_name, href: "/home/my-organizations/"}) %>
    
    <section id="weekly_schedule">
        <h1>Weekly Schedule</h1>
        <div class="table-container mt-4">
            <div class="table">
                <div class="top-row">
                    <i class="bi bi-caret-left left"></i>
                    <div class="box user-flex-center"></div>
                    <i class="bi bi-caret-right right"></i>
                    <a href="#">Edit</a>
                </div>
                <div class="row top">
                    <span>From Time</span>
                    <span>To Time</span>
                    <span>Price</span>
                    <span>Slots</span>
                </div>
            </div>
        </div>
    </section>
    <section id="special_holidays">
        <h1>Special Holidays</h1>
        <div class="content mt-4">
            <div class="left-content">
                <div class="list">
                    <div class="top">
                        <div class="slide-butt">
                            <div class="slider user-flex-center"></div>
                            <div class="opt-1 user-flex-center"><span>upcoming</span></div>
                            <div class="opt-2 user-flex-center"><span>recent</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-content"></div>
        </div>
    </section>
</main>
<script>

    var weeklyScheduleData = <%- JSON.stringify(weeklySchedule) %>;

    document.onload = () => {
        onLoad();
    }
    
</script>
<%- include('footer') %>