main {
    font-family: 'Inter';
    height: 100vh;
    overflow: auto;
}

section.header {
    width: 100%;
    padding: 40px;
}

h1 {
    font-size: 26px;
    font-weight: 600;
    color: var(--secondary-clr);
}

section.header p {
    font-weight: 300;
    color: var(--secondary-clr);
}

section#results {
    padding: 0 40px 40px;
}

section#results div.slot_header {
    padding: 10px 20px;
    border: 1px solid var(--primary-clr);
    color: var(--primary-clr);
    font-weight: 600;
    background-color: rgb(2, 84, 100, 0.1);
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section#results div.slot_header:not(:first-of-type) {
    margin-top: 40px;
}

section#results div.slot_header span.time i {
    margin-right: 10px;
}

section#results div.slot_header span.slot_num {
    font-weight: 300;
    padding-left: 10px;
}

section#results div.slot_header span.slot_num span {
    font-weight: 700;
}

section#results div.result {
    height: fit-content;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid var(--primary-clr);

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

section#results div.result div.right-side {
    margin: 0 5px;
}

section#results div.result div.right-side button {
    border: none;
    background-color: white;
    border-radius: 50%;
    color: coral;
}

section#results div.result span {
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    font-weight: 400;
}

section#results div.result span i {
    margin-right: 10px;
}

section#results div.empty-slot, section#results div.empty-day {
    width: 100%;
    margin-top: 10px;
    border: 1px solid var(--primary-clr);
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

section#results div.empty-day {
    border: none;
}

section#results div.empty-slot p, section#results div.empty-day p {
    color: var(--tertiary-clr);
    font-weight: 300;
}

@media (max-width:576px) {
    main div.list-container {
        padding: 0 20px;
    }
    main section.header, main section#results {
        padding: 20px 20px 20px;
    } 
    section#results div.result {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }   
    section#results div.result div.right-side {
        margin: 0;
        width: 100%;
    }
    section#results div.result div.right-side form {
        width: 100%;
    }
    section#results div.result div.right-side form button {
        min-width: 100%;
        text-align: center;
        border: 1px solid coral;
        color: coral;
        border-radius: 0;
        margin-top: 10px;
        padding: 5px 0;
        transition: background-color 0.2s, color 0.2s;
    }

    section#results div.result div.right-side form button:hover {
        background-color: coral;
        color: white;
    }
}