div.header {
    width: 100%;
    padding: 40px;
}

h1 {
    font-size: 26px;
    font-weight: 600;
    color: var(--secondary-clr);
}

div.header p {
    font-weight: 300;
    color: var(--secondary-clr);
}

form {
    padding: 0 40px;
    margin-bottom: 40px;
}

form div.field-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: fit-content;
}

form div.field-box label.label {
    color: var(--tertiary-clr);
    font-weight: 500;
    margin-bottom: 4px;
}

input#name {
    width: 300px;
    border-radius: 8px;
    border: 1.5px solid var(--tertiary-clr);
    outline: none;
    padding: 5px 10px;
    padding-right: 30px;
    font-size: 14px;
    font-weight: 500;
    color: var(--tertiary-clr);
}

input#name:focus {
    border: 1.5px solid var(--secondary-clr);
    color: var(--secondary-clr);
}

div.field-box.name span {
    margin-top: 2px;
    font-weight: 300;
    color: red;
    font-size: 14px;
}

div.field-box.name i {
    position: absolute;
    font-size: 16px;
    right: 8px;
    top: 33px;
    opacity: 0.8;
}

div.field-box.name i.green, div.field-box.name span.green {
    color: green;
}

div.field-box.name i.red, div.field-box.name span.red {
    color: red;
}

div.checbox-container {
    display: flex;
    flex-wrap: wrap;
}

div.checbox-container div.checkbox {
    width: 55px;
    height: 35px;
    border: 1.5px solid var(--primary-clr);
    border-radius: 8px;
    color: var(--primary-clr);
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 15px;
    font-weight: 400;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

div.checbox-container div.checkbox.checked {
    background-color: var(--primary-clr);
    color: white;
}

div.field-box.details {
    width: 100%;
    display: none;
}

div.field-box.details div.details-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

div.field-box.details div.details-list div.list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--bg-clr);
    width: 100%;
    padding: 5px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

div.field-box.details div.details-list div.list-item span {
    display: block;
    font-weight: 300;
    font-size: 14px;
    color: var(--secondary-clr);
    margin-top: 5px;margin-bottom: 3px;
}

div.field-box.details div.details-list div.list-item input {
    border-radius: 8px;
    border: 1px solid var(--secondary-clr);
    padding: 5px 8px;
    font-size: 14px;
    margin-bottom: 5px;
}

div.field-box.details div.add-remove {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

div.field-box.details div.add-remove i {
    font-size: 22px;
    margin-right: 15px;
    cursor: pointer;
}

div.field-box.details div.add-remove i:hover {
    opacity: 0.6;
}

div.sliderbar-box {
    position: relative;
    width: 130px;
    height: 35px;
    border-radius: 6px;
    overflow: hidden;
    font-size: 14px;
    cursor: pointer;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: border 0.2s;
}

div.sliderbar-box.paused {
    border: 1.5px solid var(--sec-clr);
}

div.sliderbar-box.active {
    border: 1.5px solid green;
}

div.sliderbar-box span {
    display: block;
    user-select: none;
    width: 50%;
    text-align: center;
    background-color: transparent;
    z-index: 1;
    transition: background-color 0.2s, color 0.2s;
}

div.sliderbar-box.paused span:first-of-type {
    color: white;
}

div.sliderbar-box.paused span:last-of-type {
    color: var(--sec-clr);
}

div.sliderbar-box.active span:first-of-type {
    color: green;
}

div.sliderbar-box.active span:last-of-type {
    color: white;
}

div.sliderbar-box div.slider {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    transition: left 0.2s;
}

div.sliderbar-box.paused div.slider {
    left: 0;
    background-color: var(--sec-clr);
}

div.sliderbar-box.active div.slider {
    left: 50%;
    background-color: green;
}

form ul.instruction {
    list-style-type: circle;
    color: var(--tertiary-clr);
}

form ul.instruction b {
    font-weight: 500;
    color: var(--secondary-clr);
}

form button {
    background-color: var(--primary-clr);
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    opacity: 0.9;   
}

form button:hover {
    opacity: 0.85;   
}

@media (max-width:992px) {
    
}

@media (max-width:576px) {
    main div.header {
        padding: 20px;
    } 
    form {
        padding: 0 20px;
    }
}