div.inner-header {
    width: 100%;
    min-height: 50px;
    background-color: var(--bg-clr);

    justify-content: flex-start;
    padding: 0 20px;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 14px;
    color: var(--secondary-clr);
}

div.inner-header i {
    color: var(--secondary-clr);
    font-size: 20px;
}

div.inner-header i:hover {
    display: block;
    opacity: 0.8;
    transform: translateX(-1px);
}

div.inner-header a {
    margin-right: auto;
    padding-right: 10px;
}

div.inner-header span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}