main {
    /* background-color: red; */
    font-family: 'Inter';
}

main div.header {
    padding: 40px;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

main div.header h1 {
    font-size: 24px;
    font-weight: 700;
    color: var(--secondary-clr);
}
main div.header p {
    color: var(--tertiary-clr);
    font-weight: 400;
}

main div.header div.left-side {
    width: 50%;
}

main div.header div.right-side {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

main div.header div.right-side button {
    position: relative;
    border: none;
    outline: none;
    padding: 10px 20px;
    padding-left: 45px;
    border-radius: 20px;
    background-color: var(--sec-clr);
    color: white;
    font-weight: 600;
    overflow: hidden;
    font-size: 14px;
}

main div.header div.right-side button i {
    position: absolute;
    margin-right: 10px;
    left: 20px;
    font-size: 18px;
    transition: top 0.2s;
}

main div.header div.right-side button i.nothover {
    top: 8px;
}

main div.header div.right-side button i.hover {
    top: -30px;
}

main div.header div.right-side button:hover {
    transform: translateY(-1px);
}

main div.header div.right-side button:hover i.nothover {
    top: calc(100% + 30px);
}

main div.header div.right-side button:hover i.hover {
    top: 8px;
}

main div.header div.left-side div.field-box {
    position: relative;
    color: var(--tertiary-clr);
    height: 38px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 30px;
}

main div.header div.left-side div.field-box input[type='text'] {
    width: 300px;
    border-radius: 20px 0 0 20px;
    border: 1px solid var(--quaternary-clr);
    border-right: none;
    padding-left: 43px;
    outline: none;
    color: inherit;
    font-size: 14px;
}

main div.header div.left-side div.field-box input[type='text']:focus {
    color: var(--secondary-clr);
    border-color: var(--secondary-clr);
}

main div.header div.left-side div.field-box i.left {
    position: absolute;
    left: 15px;
    top: 7px;
    color: inherit;
}

main div.header div.left-side div.field-box button {
    border-radius: 0 20px 20px 0;
    border: 1px solid var(--tertiary-clr);
    background-color: var(--primary-clr);
    color: white;
    opacity: 0.85;
    width: 45px;
}

main div.header div.left-side div.field-box button:hover {
    opacity: 0.8;
}

@media (max-width:992px) {
    main div.header {
        flex-direction: column;
    }
    main div.header div.left-side {
        width: 100%;
    }
    main div.header div.right-side {
        width: 100%;
        margin-top: 20px;
        justify-content: flex-start;
    }
}

@media (max-width:576px) {
    main div.header {
        padding: 20px;
    } 
}