main {
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    overflow: auto;    
}

h1 {
    font-size: 24px;
    font-weight: 600;
    color: var(--secondary-clr);
}

section {
    padding: 40px;
    padding-bottom: 0;
    width: 100%;
}

section#weekly_schedule div.table-container {
    width: 100%;
    height: fit-content;
}

section#weekly_schedule div.table-container div.table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

section#weekly_schedule div.top-row {
    width: 100%;
    height: 60px;
    background-color: white;
    border: 1px solid var(--primary-clr);
    padding: 0 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section#weekly_schedule div.top-row i {
    font-size: 18px;
    opacity: 0.6;
    cursor: pointer;
}

section#weekly_schedule div.top-row div.box {
    border: 1px solid var(--primary-clr);
    width: 50px;
    height: 30px;
    margin: 0 2px;
    border-radius: 5px;
    font-weight: 300;
    font-size: 14px;
    color: var(--primary-clr);
}

section#weekly_schedule div.top-row a {
    margin-left: auto;
    color: var(--sec-clr);
    font-weight: 400;
    border: 1px solid var(--sec-clr);
    font-size: 14px;
    text-decoration: none;
    padding: 6px 14px;
    border-radius: 8px;
    transition: background-color 0.1s, color 0.1s;
}

section#weekly_schedule div.top-row a:hover {
    background-color: rgb(229, 124, 35, 0.6);
    color: white;
}

section#weekly_schedule div.table div.row {
    margin: 0;
    display: grid;
    grid-template-columns: 10% 22.5% 22.5% 22.5% 22.5%;
    height: 40px;
    font-weight: 400;
    border: 1px solid var(--primary-clr);
    border-top: none;
    align-items: center;
    font-size: 14px;
}

section#weekly_schedule div.table div.row.top {
    font-weight: 600;
    background-color: rgb(2, 84, 100, 0.1);
    border-bottom: 2px solid var(--primary-clr);
}

section#weekly_schedule div.table div.empty-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-clr);
    border-top: none;
    padding: 30px;
}

section#weekly_schedule div.table div.empty-div img {
    max-width: 300px;
    opacity: 0.8;
}

section#weekly_schedule div.table div.empty-div span {
    font-size: 15px;
    font-weight: 400;
    color: var(--tertiary-clr);
}

section#special_holidays div.content {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

section#special_holidays div.left-content {
    width: 50%;
}

section#special_holidays div.left-content div.list {
    width: 100%;
    min-height: 290px;
    height: 100%;
    border: 1px solid var(--primary-clr);
}

section#special_holidays div.left-content div.list div.top {
    height: 50px;
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid var(--primary-clr);
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section#special_holidays div.left-content div.list div.top div.slide-butt {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 160px;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid var(--sec-clr);
    padding: 4px 0;
    border-radius: 8px;
    opacity: 0.9;
    cursor: pointer;
}

section#special_holidays div.left-content div.list div.top div.slide-butt div.opt-1,
section#special_holidays div.left-content div.list div.top div.slide-butt div.opt-2 {
    width: 50%;
    text-align: center;
    z-index: 1;
}

section#special_holidays div.left-content div.list div.top div.slide-butt div.opt-1 span,
section#special_holidays div.left-content div.list div.top div.slide-butt div.opt-2 span {
    width: fit-content;
    color: white;
}

section#special_holidays div.left-content div.list div.top div.slide-butt.one div.opt-1 span {
    color: white;
}

section#special_holidays div.left-content div.list div.top div.slide-butt.one div.opt-2 span {
    color: var(--sec-clr);
}

section#special_holidays div.left-content div.list div.top div.slide-butt.two div.opt-1 span {
    color: var(--sec-clr);
}

section#special_holidays div.left-content div.list div.top div.slide-butt.two div.opt-2 span {
    color: white;
}

section#special_holidays div.left-content div.list div.top div.slide-butt div.slider {
    position: absolute;
    width: 50%;
    left: 0;
    z-index: -1;
    height: 100%;
    background-color: var(--sec-clr);
    border-radius: 8px;
    cursor: default;
    transition: left 0.2s;
}

section
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #c8c8c8; 
}

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3; 
}

section#special_holidays div.left-content div.list div.items {
    overflow: auto;
    height: calc(100% - 50px);
}

section#special_holidays div.left-content div.list div.items div.item {
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 40px;
    font-weight: 400;
    border-top: none;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid var(--primary-clr);
}

section#special_holidays div.left-content div.list div.items div.item.head {
    font-weight: 600;
    background-color: rgb(2, 84, 100, 0.1);
    border-bottom: 2px solid var(--primary-clr);
}

section#special_holidays div.left-content div.list div.items div.item span {
    padding: 0 12px;
}

section#special_holidays div.left-content div.list div.items div.empty-div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: none;
    max-height: 240px;
}

section#special_holidays div.right-content {
    width: 50%;
    /* background-color: red; */
    border: 1.5px dashed var(--primary-clr);
    margin: 0 10px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

section#special_holidays div.right-content h4 {
    color: var(--primary-clr);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    margin-right: 0;
    margin-left: auto;
}

section#special_holidays div.right-content form label {
    display: block;
    font-weight: 400;
    color: var(--tertiary-clr);
    margin-bottom: 4px;
    font-size: 14px;
}

section#special_holidays div.right-content form input {
    display: block;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid var(--tertiary-clr);
    color: var(--secondary-clr);
}

section#special_holidays div.right-content form p.help-text, section#special_holidays div.right-content form p.err-text {
    color: var(--secondary-clr);
    font-size: 12px;
    margin: 0;
}

section#special_holidays div.right-content form p.err-text {
    color: red;
    font-size: 13px;
}

section#special_holidays div.right-content button {
    padding: 6px 16px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 600;
    background-color: var(--ter-clr);
    color: white;
    border: none;
}

section#special_holidays div.right-content button:hover {
    opacity: 0.9;
}

@media (max-width:576px) {
    section {
        padding: 20px;
        padding-bottom: 0;
    }
}

@media (max-width:700px) {
    section#weekly_schedule div.table-container {
        overflow: auto;
    }
    section#weekly_schedule div.table {
        width: 650px;
    }
}

@media (max-width:900px) {
    section#special_holidays div.content {
        flex-direction: column;
    }
    section#special_holidays div.left-content {
        width: 100%;
        overflow: auto;
    }
    section#special_holidays div.left-content div.list {
        min-width: 350px;
    }
    section#special_holidays div.right-content {
        width: 100%;
        margin: 0;
        margin-top: 20px;
        height: fit-content;
    }
    section#special_holidays div.right-content h4 {
        margin-left: 0;
    }
}